{
  "env": {
    "browser": true,
    "es6": true,
  },
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "globals": {
    "chrome": true,
    "crypto": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": 0
  }
}
